*.mbtiles
*.zip
*.mypy_cache/
__pycache__/
.pytest_cache/

# Ansible files
ansible/inventory.ini
ansible/credentials.yml
ansible/roles/tileserver/defaults/main.yml
ansible/secrets.yml
ansible/group_vars/
ansible/inventory.ini

# Local deployment helper files
deployment.md
# Keep example inventory in repo for users; do not ignore
